<div class="container">
  <div class="title">
    <h2>{{ title }}</h2>
  </div>
  <div class="handguns-container">
    <app-product-card
      *ngFor="let handgun of handguns"
      (cardButtonClicked)="handlePurchase(); incrementCartItems()"
      [imgUrl]="handgun.imageUrl"
      [cardTitle]="handgun.gunName"
      [cardText]="handgun.gunPrice"
      [btnText]="handGunsBtnText"
      [btnStyle]="btnColor"
    ></app-product-card>
  </div>

  <app-modal
    [isModalVisible]="isPurchaseModalVisible"
    [modalText]="confirmPurchaseModalText"
    [width]="modalWidth"
    [height]="modalHeight"
    [textFontWeight]="modalFW"
  ></app-modal>
</div>
